body {
  
  font-family: "Courier New", Courier, monospace;
}
small {
  font-weight: 100;
  top: 0;
  color: aliceblue;
  display: block;
}

div h5 {
  color: aliceblue;
  font-size: 14px;
}
h1{
  font-size: 30px;
  color: blue;
  text-decoration: none;
  text-transform: capitalize;
  
}
.containers {
  border-radius: 10px;
  width:70%;
  margin: 50px auto;
  margin-bottom: 0;
  padding: 10px;
  min-width: 600px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
.degree {
  color: aliceblue;
  text-align: left;
  position: fixed;
  margin-left: 120px;
}
.emojis {
  text-align: right;
  font-size: 58px;
}
.line {
  border-right: 1px solid gainsboro;
}
.center {
  text-align: center;
}

.hour {
  border: 2px solid gainsboro;
}
.dayweek {
  border: 2px solid gainsboro;
}
.center{
  color:aliceblue;
}
.source{
  padding-left: 15%;
}

span.units{
position: relative;
top:-20px;
}
.units a{
  position: relative;
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
}
.degree #degree{
  font-size: 48px;
}
#city{
  color: aliceblue;
}